<div class="to-do-task card-container">
  <div class="card to-do">
    <div class="card-title">
      <span>TO DO</span>
      <a href="#">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="36px"
          viewBox="0 0 24 24"
          width="36px"
          fill="#000000"
        >
          <path d="M0 0h24v24H0z" fill="none" />
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
        </svg>
      </a>
    </div>
    <div class="task-container">
        <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListConnectedTo]="[doneList]">
      <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
      </div>
      </div>
  </div>
  <div class="card progress">
    <div class="card-title">
      <span>PROGRESS</span>
    </div>
    <div class="task-container">
        <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListConnectedTo]="[todoList]">
      <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
      </div>
      </div>
  </div>
  <div class="card completed">
    <div class="card-title">
      <span>COMPLETED</span>
    </div>
  </div>
</div>
