<h2 mat-dialog-title>Create Task</h2>
<hr>
<mat-dialog-content class="mat-typography">
  <form class="create-task" [formGroup]="createTaskForm" (ngSubmit)="createTask()">
    <p>
      <mat-label>Title</mat-label>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Simple placeholder" formControlName="title"/>
      </mat-form-field>
    </p>
    <p>
      <mat-label>Descrption</mat-label>
      <mat-form-field appearance="outline">
        <textarea matInput placeholder="Simple placeholder" formControlName="description">
        </textarea>
      </mat-form-field>
    </p>
    <p>
        <mat-label>Status</mat-label>
        <br>
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button style="color:#F7CD2E" value="1">To Do</mat-radio-button>
            <mat-radio-button style="color:#12B0E8" value="2">In-Progress</mat-radio-button>
            <mat-radio-button style="color:#22CB5C" value="3">Completed</mat-radio-button>
        </mat-radio-group>
    </p>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Save</button>
</mat-dialog-actions>
