@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");
.mat-dialog-title {
    font-family: Inconsolata, monospace;
    font-weight:bold;
}

h2 ,p{
    margin:0;
}

textarea {
    height:70px;
}

mat-label {
    font-family: Inconsolata, monospace;
    font-weight:bold;
}

.mat-form-field {
    width:100%;
}

.create-task {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height:100%;
}

.mat-radio-group {
    display: flex;
    margin-top:5px;
    justify-content: space-between;
    
}
.mat-dialog-content {
    height: 88%;
    overflow: hidden;
}
.mat-radio-button {
    font-family: Inconsolata,monospace;
    font-weight: bold;
}

mat-dialog-actions.mat-dialog-actions {
    margin:0;
    padding:0;
}